<!--
  Recuerde conservar los id, no deben ser modificados
  ids =  , , , , 
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->
  <form class="form" action="">
    <div class="form-field">
        <input id="user-list__filter" type="text" placeholder="Buscar usuario"  [(ngModel)]="filterUser"
        name="filterUser">
    </div>
  </form>


<div  >
 
  <table class="card " id="user-list__table">

    <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Picture</th>
        <th>Action</th>

      </tr>
    </thead >
    <tbody >
      <tr  *ngFor="let user of users " >
        <td id="user-list__table-item-{{user.id}}"> {{user.id }} </td>
        <td id="user-list__table-item-{{user.id}}-first_name"> {{user.first_name }} </td>
        <td> {{user.last_name}}</td>
        <td id="user-list__table-item-{{user.id}}-email" > {{user.email}}</td>
        <td  id="user-list__table-item-{{user.id}}-avatar"> <img src="{{user.avatar}}" alt="user_image"></td>
        <button id="user-list__table-item-{{user.id}}-btn-delete"> delete</button>

      </tr>
    </tbody>
    
  </table>


</div>
 
