// .form{
//     width: 100%;
//     padding: 0;
//     margin: 0 auto;
// }
// .form-field{
//     width: 100%;
//     margin-bottom: 10px;
//     padding: 0;

// }
// .user__container{
//     display: flex;
//  align-content: center;
// }
// input{
//     box-sizing: border-box;
//     padding: 0 10PX;
//     border: 1px solid #cccc;
//     border-radius: 5px;
//     font-size: 1.2rem;
//     width: 100%;
// }
// th,td{
//     align-content: center;
//     text-align: center;
// }
// img{
//     border-radius: 50%;
// }
table{
    align-content: center;
    justify-content: center;
    
}

@media (max-width:720px) {
    
    table{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        thead>tr{
            display: flex;
            justify-content: space-between;
        }
    }
    
}